<!DOCTYPE html>
<html {{- if (eq .Site.Params.mode "dark" ) -}}class="dark" {{ end }}>
{{ partial "header.html" . }}

<body class="home">
	<div class="site-shell wrapper">
		{{ partial "head.html" . }}

		<main>
			<section class="recent-posts section" id="posts">
				<div class="section-heading">
					<p>Latest notes</p>
					<a href="/posts">查看全部</a>
				</div>
				<div class="posts">
					{{ $mainSections := .Site.Params.mainSections | default (slice "posts" "weekly") }}
					{{ $pages := where .Site.RegularPages "Type" "in" $mainSections }}
					{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
					{{ range $paginator.Pages }}
					<article class="post">
						<div class="post-header">
							<div class="meta">
								<div class="date">
									<span class="day">{{ dateFormat "02" .Date }}</span>
									<span class="rest">{{ if $.Site.Data.month }}{{ index $.Site.Data.month (printf "%d"
										.Date.Month) }} {{ .Date.Year }}{{ else }}{{ dateFormat "Jan 2006" .Date }}{{ end
										}}</span>
								</div>
							</div>
							<div class="matter">
								<h4 class="title small">
									<a href="{{ .RelPermalink }}">{{.Title}}{{ if .Draft }}<sup
											class="draft-label">DRAFT</sup>{{ end }}</a>
								</h4>
								{{ $wordCountNoCode := replaceRE `(?s)<div class="highlight">.*?</div>` "" .Content |
								countwords }}
								<h4 class="title small smaller">
									{{ $wordCountNoCode | lang.FormatNumberCustom 0 }} words, ~{{ div $wordCountNoCode
									.Site.Params.wpm
									}} min read
								</h4>
								<h4 class="title small smaller">
									{{ if gt .Params.tags 0 }}
									<ul class="tags flat">
										{{ $tagUrl := "/tags/"}}
										{{ range first .Site.Params.maxTags .Params.tags }}
										<li class="tag-li"><a href="{{ $tagUrl | relLangURL }}{{ . | urlize }}">{{ .
												}}</a></li>
										{{ end }}
									</ul>
									{{ end }}
								</h4>
								<span class="description">
									{{ partial "post_description.html" . }}
								</span>
							</div>
						</div>
					</article>
					{{ end }}
					{{ template "partials/paginator.html" . }}
				</div>
			</section>
		</main>
	</div>
	{{ partial "footer.html" . }}
</body>

</html>
